<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
  <title>Home Page</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- bootstrap end -->
  <script th:src="@{/js/myscripts.js}"></script>
  <script>
  $(document).ready(function() {
    $("#homeHyperlink").addClass("active");
  });
  </script>
</head>
<body>
  <div th:include=" fragments :: nav"></div>
  <div class="container">
    <h1>Witaj<strong th:text="' ' + ${session.user.name}" th:if="${session.user}"></strong>!</h1>
  </div>
</body>
</html>