<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
  <title>Register</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- bootstrap end -->
  <script th:inline="javascript">
  $(document).ready(function() {
    $("#registerHyperlink").addClass("active");
  });
</script>
</head>
<body>
  <div th:include="fragments :: nav"></div>
  <div class="container">
    <div id="signInDiv" class="row panel panel-default">
      <div class="col-sm-12">
        <h2>Rejestracja</h2>
        <div class="alert alert-danger" th:if="${error}">
          <p th:text="${error}"></p>
        </div>
        <form name="loginForm" th:action="@{/register}" th:unless="${session.user}" method="POST" th:object="${user}" role="form" class="form-horizontal">
          <div class="form-group form-group-sm">
            <label for="name" class="control-label col-sm-2">Nazwa użytkownika: </label>
            <div class="col-sm-3">
              <input id="name" type="text" th:field="*{name}" required="required" class="form-control" />
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="name" class="control-label col-sm-2">Hasło: </label>
            <div class="col-sm-3">
              <input id="password" type="password" th:field="*{password}" required="required" class="form-control" />
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="name" class="control-label col-sm-2">Email: </label>
            <div class="col-sm-3">
              <input id="email" type="email" th:field="*{email}" required="required" class="form-control" />
            </div>
          </div>

          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-3">
              <input width="100%" type="submit" class="btn btn-success" value="Zarejestruj się" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>